.Quotes{
    color: #c5b115;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

@media (min-width: 2160px) {
    .Quotes {
      font-size: 40px;
    }
  }
  
  @media (min-width: 2561px) {
    .Quotes {
      font-size: 50px;
    }
  }